{% extends "base.html" %}
{% load i18n static utils %}

{% block title %}{% translate "Account Locked" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <div class="row align-items-center my-5">
        <div class="col-sm-3 mb-5">
            <img src="{% static 'images/circle-icons/magnifyingglass.svg' %}" class="w-100" alt="">
        </div>
        <div class="col-sm-9 mb-5">
            <h1 class="h3">{% translate "Account Locked" %}</h1>
            <p>{% translate "Too many login attempts." %}</p>
            <p>
                {% translate "Contact an admin to unlock your account." %}
                {% if cooloff_timedelta %}
                    {% blocktranslate with delta=cooloff_timedelta|timedelta %}Or wait for {{ delta }}.{% endblocktranslate %}
                {% endif %}
            </p>
            <a class="btn btn-primary" href="/">{% translate "Go to homepage" %}</a>
        </div>
    </div>
{% endblock %}
