<!DOCTYPE html>
{% load i18n static django_bootstrap5 utils %}
{% get_current_language as LANGUAGE_CODE %}
{% get_parler_languages as LANGUAGES %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">

    <title>{% block title %}{{ CASTELLUM_SITE_TITLE }}{% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css' %}">
    {% if BOOTSTRAP_THEME_COLORS %}<link rel="stylesheet" type="text/css" href="{% url 'colors' %}">{% endif %}
    {% block extra_styles %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <template id="i18n-no-contact">{% translate 'There is no way to contact this subject. Are you sure you want to save?' %}</template>
    <template id="i18n-appointments">{% translate 'Some of the appointments are outside of the planned time period. Do you want to save it anyway?' %}</template>
    <template id="i18n-autologout">{% translate 'If you do nothing your session will expire' %}</template>
    <template id="i18n-participants">{% translate 'Participants' %}</template>
    <template id="i18n-years">{% translate '%i years' %}</template>
    <template id="i18n-months">{% translate '%i months' %}</template>
    <template id="i18n-days">{% translate '%i days' %}</template>
</head>
<body {% if user.is_authenticated %}data-logout-timeout="{{ CASTELLUM_LOGOUT_TIMEOUT.total_seconds }}"{% endif %}>
    {% if DEMO %}
        <div class="text-bg-warning p-2 text-center d-print-none" title="{% translate 'Set settings.PRODUCTION to remove this message.' %}">
            {% translate 'Running in Demo mode.' %}
        </div>
    {% endif %}
    {% for message in broadcast_messages %}
        <div class="text-bg-{{ message.level }} p-2 text-center d-print-none">
            {{ message.content }}
        </div>
    {% endfor %}
    {% if not view.nochrome %}
        <header class="bg-black border-bottom d-print-none" data-bs-theme="dark">
            <div class="container visually-hidden-focusable">
                <a href="#content" class="d-inline-block p-2 text-white">{% translate 'Skip to main content' %}</a>
            </div>
            <div class="container">
                <div class="navbar navbar-expand-sm">
                    {% if CASTELLUM_SITE_LOGO %}
                        <a href="/" class="d-inline-block me-2" tabindex="-1" aria-hidden="true">
                            <img src="{{ CASTELLUM_SITE_LOGO }}" alt="" width="40" height="40">
                        </a>
                    {% endif %}
                    <a href="/" rel="home" class="navbar-brand">{{ CASTELLUM_SITE_TITLE }}</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="{% translate 'Toggle navigation' %}">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
                        {% if user.is_authenticated and LANGUAGES|length > 1 %}
                            <div class="btn-group mb-2 mb-sm-0 me-sm-5" role="region" aria-label="{% translate 'Set language' %}">
                                {% for lang, label in LANGUAGES %}
                                    <form class="btn-group" action="{% url 'set_language' %}" method="post">
                                        {# Bootstrap uses :firstchild for styling #}
                                        {% if forloop.first %}
                                            <button title="{{ label }}" class="btn btn-secondary {% if lang == LANGUAGE_CODE %}active{% endif %}">{{ lang }}</button>
                                        {% endif %}
                                        {% csrf_token %}
                                        <input name="next" type="hidden" value="{{ request.get_full_path }}">
                                        <input name="language" type="hidden" value="{{ lang }}">
                                        {% if not forloop.first %}
                                            <button title="{{ label }}" class="btn btn-secondary {% if lang == LANGUAGE_CODE %}active{% endif %}">{{ lang }}</button>
                                        {% endif %}
                                    </form>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if user.is_authenticated %}
                            <div>
                                <span class="navbar-text">{{ user.get_full_name }}</span>
                                <a href="{% url 'logout' %}?next={{ request.get_full_path|iriencode }}" class="btn btn-secondary">{% translate 'Logout' %}</a>
                            </div>
                        {% else %}
                            <a href="{% url 'login' %}?next={{ request.get_full_path|iriencode }}" class="btn btn-primary">{% translate 'Login' %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
        {% block after_header %}{% endblock %}
    {% endif %}

    <div class="py-3">
        {% block header %}{% endblock %}

        <div class="{% block container_class %}container{% endblock %}">
            {% block content_with_messages %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message|bootstrap_message_alert_type }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% if subject.deceased %}
                    <div class="alert alert-warning" role="alert">
                        {% translate 'This subject is deceased' %}
                    </div>
                {% endif %}
                {% if subject.to_be_deleted %}
                    <div class="alert alert-warning" role="alert">
                        {% translate 'This subject is marked for deletion' %}
                    </div>
                {% endif %}
                {% if subject.blocked %}
                    <div class="alert alert-danger" role="alert">
                        {% translate 'This subject has been blocked due to inappropriate behaviour' %}
                    </div>
                {% endif %}

                <main id="content">
                    {% block content %}{% endblock %}
                </main>
            {% endblock %}
        </div>
    </div>

    {% block footer %}{% endblock %}

    {% if user.is_authenticated %}
        <script type="module" src="{% static 'js/autologout.js' %}"></script>
    {% endif %}

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'jdenticon/dist/jdenticon.min.js' %}"></script>
    <script src="{% static '@popperjs/core/dist/umd/popper-lite.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'select2/dist/js/i18n/de.js' %}"></script>
    <script type="module" src="{% static 'js/utils.js' %}"></script>
    <script type="module" src="{% static 'js/unsaved-changes.js' %}"></script>

    {% block extra_scripts %}{% endblock %}
</body>
</html>
