{% extends "base.html" %}
{% load i18n auth utils %}

{% block title %}{% translate 'Feeds' %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <h1>{% translate 'Feeds' %}</h1>
    <p>{% translate 'This page lists all available calendar feeds. You can subscribe to these feeds with the calendar program of your choice.' %}</p>
    <p>{% translate 'Note that these feeds contain sensitive information. Each link includes a special token that is used for checking permissions. Therefore you must not share these links with anyone.' %}</p>

    <h2>{% translate 'Per User' %}</h2>
    <ul>
        <li><a href="{% webcal_url 'recruitment:followups-user-feed' %}">{% translate 'recruitment follow-ups for all of my studies' %}</a></li>
        <li><a href="{% webcal_url 'execution:calendar-user-feed' %}">{% translate 'appointments for all of my studies' %}</a></li>
    </ul>

    <h2>{% translate 'Per Study' %}</h2>
    <ul>
        {% for study in studies %}
            {% has_perm 'recruitment.recruit' user study as can_recruit %}
            {% has_perm 'recruitment.conduct_study' user study as can_conduct %}
            {% has_perm 'appointments.change_appointment' user study as can_change_appointment %}
            <li>
                {{ study }}
                <ul>
                    {% if can_recruit %}
                        <li><a href="{% webcal_url 'recruitment:followups-feed' study.pk %}">{% translate 'recruitment follow-ups' %}</a></li>
                    {% endif %}
                    {% if can_change_appointment or can_conduct %}
                        <li><a href="{% webcal_url 'recruitment:calendar-feed' study.pk %}">{% translate 'appointments' %}</a></li>
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <h2>{% translate 'Per Resource' %}</h2>
    <ul>
        {% for resource in resources %}
            {% is_resource_manager user resource as can_manage_resource %}
            <li>
                {{ resource }}
                <ul>
                    <li><a href="{% webcal_url 'recruitment:resource-feed' resource.pk %}">{% translate 'appointments' %}</a></li>
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
