{% load django_bootstrap5 %}

<fieldset class="row gx-2">
    <div class="col-md-2">
        {% bootstrap_field form.title required_css_class='castellum-required' %}
    </div>
    <div class="col-md-5">
        {% bootstrap_field form.first_name required_css_class='castellum-required' %}
    </div>
    <div class="col-md-5">
        {% bootstrap_field form.last_name required_css_class='castellum-required' %}
    </div>
</fieldset>
{% bootstrap_field form.date_of_birth %}
