{% load i18n utils %}

<dl class="row">
    <dt class="col-sm-6">{{ subject|verbose_name:'privacy_level' }}</dt>
    <dd class="col-sm-6">
        {% icon 'user-shield' %}
        {{ subject|display:'privacy_level' }}
        {% if study and subject.privacy_level > study.members_min_privacy_level %}
            {% icon 'warning' label=_('Not all members of this study can access this subject') %}
        {% endif %}
    </dd>

    <dt class="col-sm-6">{% translate "Reliability" %}</dt>
    <dd class="col-sm-6">{{ subject|display:'reliability' }}</dd>
</dl>

{% include 'contacts/__contact_detail.html' with contact=subject.contact legal_representatives=subject.contact.get_legal_representatives_tree %}
