{% extends "recruitment/participation_base.html" %}
{% load i18n utils %}

{% block container_class %}container-lg{% endblock %}

{% block content_with_messages %}
    <div class="row">
        <div class="col-md-3">
            <nav class="list-group mb-3" aria-label="{% translate 'Subtabs' %}">
                <a class="list-group-item list-group-item-custom list-group-item-action {% if view.subtab == 'contact' %}active{% endif %}" href="{% url 'recruitment:contact-update' study.pk participation.pk %}">
                    {% translate 'Contact' %}
                    {% if not subject.contact.is_complete %}
                        {% icon 'exclamation-triangle' label=_('Action required') %}
                    {% endif %}
                </a>
                <a class="list-group-item list-group-item-custom list-group-item-action {% if view.subtab == 'attributes' %}active{% endif %}" href="{% url 'recruitment:attributes-update' study.pk participation.pk %}">{% translate 'Recruitment attributes' %}</a>
                <a class="list-group-item list-group-item-custom list-group-item-action {% if view.subtab == 'data-protection' %}active{% endif %}" href="{% url 'recruitment:data-protection-update' study.pk participation.pk %}">
                    {% translate 'Data protection' %}
                    {% if subject.consent_action_required %}
                        {% icon 'exclamation-triangle' label=_('Action required') %}
                    {% endif %}
                </a>
                <a class="list-group-item list-group-item-custom list-group-item-action {% if view.subtab == 'additional-info' %}active{% endif %}" href="{% url 'recruitment:additional-info-update' study.pk participation.pk %}">
                    {% translate 'Additional Info' %}
                </a>
            </nav>
        </div>

        <div class="col-md-9">
            {{ block.super }}
        </div>
    </div>
{% endblock %}
