{% extends "recruitment/recruitment_base.html" %}
{% load i18n static auth %}

{% block title %}{% translate "Recruitment" %} &middot; {{ study }} &middot; {{ block.super }}{% endblock %}

{% block content %}

    {% if statistics %}
        <details class="mb-4">
            <summary class="mb-2">{% translate 'Statistics' %}</summary>
            {{ statistics|safe }}
        </details>
    {% endif %}

    <div class="d-flex justify-content-between">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link {% if view.subtab == 'open' %}active{% endif %}" href="{% url 'recruitment:recruitment-open' study.pk %}">
                    {% translate 'Open' %}
                    <span class="badge text-bg-light">{{ open_count }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if view.subtab == 'invited' %}active{% endif %}" href="{% url 'recruitment:recruitment-invited' study.pk %}">
                    {% translate 'Participating' %}
                    <span class="badge text-bg-light">{{ invited_count }}/{{ study.min_subject_count }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if view.subtab == 'excluded' %}active{% endif %}" href="{% url 'recruitment:recruitment-excluded' study.pk %}">
                    {% translate 'Excluded' %}
                    <span class="badge text-bg-light">{{ excluded_count }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">{% translate 'All' context 'total' %} <span class="badge text-bg-light">{{ all_count }}</span></a>
            </li>
        </ul>

        {% if view.subtab == 'open' %}
            <form class="dropdown" method="get">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="sortDropdownButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ sort_label }}
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sortDropdownButton">
                    {% for key, label in sort_options %}
                        <button class="dropdown-item" name="sort" value="{{ key }}">{{ label }}</button>
                    {% endfor %}
                </div>
            </form>
        {% endif %}
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active">
            {% include "recruitment/__recruitment_list.html" %}
        </div>
    </div>

    {% if view.subtab == 'open' %}
        <div class="d-print-none mb-3">
            <form method="post" class="d-inline">
                {% csrf_token %}
                <button class="btn btn-primary">{% translate 'Add' %}</button>
            </form>
            <a class="btn btn-secondary" href="{% url 'recruitment:cleanup' study.pk %}">{% translate 'Cleanup' %}…</a>
        </div>
    {% endif %}
{% endblock %}
