{% extends "execution/study_base.html" %}
{% load i18n auth utils %}

{% block content %}
    {% if sort_options|length > 1 %}
        <div class="d-flex justify-content-end">
            <form class="dropdown" method="get">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="sortDropdownButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ sort_label }}
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sortDropdownButton">
                    {% for key, label in sort_options %}
                        <button class="dropdown-item" name="sort" value="{{ key }}">
                            {% if label.color %}
                                <span class="badge text-bg-{{ label.color }}">{{ label }}</span>
                            {% else %}
                                {{ label }}
                            {% endif %}
                        </button>
                    {% endfor %}
                </div>
            </form>
        </div>
    {% endif %}
    <ul class="table-list mt-3">
        {% for participation in object_list %}
            <li class="table-list-item">
                {% has_privacy_level participation.subject.privacy_level user as can_access %}
                {% if can_access %}
                    <svg class="identicon my-1 me-2" data-jdenticon-value="{{ participation.pk }}" aria-hidden="true"></svg>
                    <div class="d-inline-block my-1 me-2 {% if participation.status == participation.PARTICIPATING_DROPPED_OUT or participation.subject.blocked or participation.subject.deceased %}text-body-secondary{% endif %}">
                        <div>
                            {{ participation.subject.contact.full_name }}
                            {% if participation.subject.privacy_level > 0 %}
                                <span class="badge {% if participation.subject.privacy_level > study.members_min_privacy_level %}text-bg-warning{% else %}text-bg-secondary{% endif %}">
                                    {% icon 'user-shield' label=_('Privacy level') %}
                                    {{ participation.subject.get_effective_privacy_level }}
                                    {% if participation.subject.privacy_level > study.members_min_privacy_level %}
                                        {% icon 'warning' label=_('Not all members of this study can access this subject') %}
                                    {% endif %}
                                </span>
                            {% endif %}
                            {% if session_count > 0 %}
                                <span class="badge text-bg-secondary my-1" title="{% blocktranslate with count=participation.appointment_count total=session_count %}{{ count }} out of {{ total }} appointments have already been scheduled{% endblocktranslate %}">
                                    {% icon 'calendar' label=_('Appointments') %}
                                    {{ participation.appointment_count }}/{{ session_count }}
                                    {% if participation.appointment_today %}
                                        {% translate 'today' %}
                                    {% endif %}
                                </span>
                            {% endif %}
                            {% for tag in participation.execution_tags.all %}
                                <span class="badge text-bg-{{ tag.color }} my-1">{{ tag }}</span>
                            {% endfor %}
                            {% if participation.status not in participation.DEFAULT_SET %}
                                <span class="badge text-bg-secondary my-1" title="{{ participation.get_status_tooltip }}">{{ participation|display:'status' }}</span>
                            {% endif %}
                            {% if participation.subject.blocked %}
                                <span class="badge text-bg-dark my-1" title="{{ participation.subject.TOOLTIPS.blocked }}">{{ participation.subject|verbose_name:'blocked' }}</span>
                            {% endif %}
                            {% if participation.subject.deceased %}
                                <span class="badge text-bg-dark my-1" title="{{ participation.subject.TOOLTIPS.deceased }}">{{ participation.subject|verbose_name:'deceased' }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="table-list-item-actions">
                        <a class="btn btn-outline-primary my-1" href="{% url 'execution:participation-detail' study.pk participation.pk %}">{% translate 'Details' %}</a>
                    </div>
                {% else %}
                    <div class="text-body-secondary">
                        <div class="d-inline-block my-1 me-2">
                            {% translate 'insufficient privacy level' %}
                            <span class="list-icon text-bg-danger">{% icon 'ban' %}</span>
                        </div>
                    </div>
                {% endif %}
            </li>
        {% empty %}
            <li class="alert alert-warning">{% translate 'No participations found' %}</li>
        {% endfor %}
    </ul>
{% endblock %}
