{% extends "execution/base.html" %}
{% load i18n auth %}

{% block title %}{{ study }} &middot; {{ block.super }}{% endblock %}

{% block header %}
    <div class="container text-center my-4">
        <h1 class="text-center">{{ study }}</h1>

        <div class="d-print-none">
            {% has_privacy_level study.get_invited_max_privacy_level user as has_subject_privacy_level %}
            {% if has_subject_privacy_level %}
                <a href="{% url 'execution:export' study.pk %}" class="btn btn-outline-primary mb-1">{% trans 'Export recruitment attributes' %}</a>
            {% endif %}
        </div>
    </div>

    <nav class="d-print-none" aria-label="{% translate 'Tabs' %}">
        <ul class="nav nav-tabs justify-content-center mb-3">
            <li class="nav-item">
                <a class="nav-link {% if view.tab == 'list' %}active{% endif %}" href="{% url 'execution:participation-list' study.pk %}">
                    {% translate 'List' %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if view.tab == 'calendar' %}active{% endif %}" href="{% url 'execution:calendar' study.pk %}">{% translate 'Calendar' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if view.tab == 'pseudonym' %}active{% endif %}" href="{% url 'execution:resolve' study.pk %}">{% translate 'By pseudonym' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if view.tab == 'news' %}active{% endif %}" href="{% url 'execution:news-mail' study.pk %}">{% translate 'News' %}</a>
            </li>
            {% if study.has_exclusion_criteria %}
                <li class="nav-item">
                    <a class="nav-link {% if view.tab == 'criteria' %}active{% endif %}" href="{% url 'execution:criteria' study.pk %}">{% translate 'Criteria' %}</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link {% if view.tab == 'tags' %}active{% endif %}" href="{% url 'execution:execution-tags' study.pk %}">{% translate 'Tags' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if view.tab == 'progress' %}active{% endif %}" href="{% url 'execution:progress' study.pk %}">{% translate 'Progress' %}</a>
            </li>
        </ul>
    </nav>
{% endblock %}
