{% extends "studies/study_domains_base.html" %}
{% load i18n auth django_bootstrap5 utils %}

{% block title %}{% translate "Delete" %} &middot; {% translate "Pseudonym lists" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>{% blocktranslate %}Are you sure you want to <strong>permanently delete</strong> the pseudonym list "{{ object }}" and all related pseudonyms?{% endblocktranslate %}</p>
        <p>
            {% translate "Once a pseudonym is deleted, it is no longer possible to find the corresponding contact information." %}
            {% translate "Deleting this list also indicates that the corresponding research data is either fully anonymous or has already been deleted." %}
        </p>

        <label class="form-check mb-3">
            <input type="checkbox" class="form-check-input" data-js="confirm-delete">
            <span class="form-check-label">{% translate "I confirm that the research data can and should no longer be linked to individual participants." %}</span>
        </label>
        <div class="d-print-none mb-3">
            <a href="{% url 'studies:domains' study.pk %}" class="btn btn-outline-primary" data-js="cancel">{% translate 'Cancel' %}</a>
            <button class="btn btn-danger" disabled>{% translate 'Confirm' %}</button>
        </div>
    </form>
{% endblock %}
