{% extends "studies/study_base.html" %}
{% load i18n auth django_bootstrap5 utils %}

{% block container_class %}{% if general_domains_exist %}container-lg{% else %}container{% endif %}{% endblock %}

{% block content_with_messages %}
    {% if general_domains_exist %}
        <div class="row">
            <div class="col-md-3">
                <nav class="list-group mb-3" aria-label="{% translate 'Subtabs' %}">
                    <a class="list-group-item list-group-item-custom list-group-item-action {% if view.subtab == 'domains-study' %}active{% endif %}" href="{% url 'studies:domains' study.pk %}">{% translate 'Study lists' %}</a>
                    <a class="list-group-item list-group-item-custom list-group-item-action {% if view.subtab == 'domains-general' %}active{% endif %}" href="{% url 'studies:domains-general' study.pk %}">{% translate 'General lists' %}</a>
                </nav>
            </div>
            <div class="col-md-9">
                {{ block.super }}
            </div>
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
