{% extends "studies/base.html" %}
{% load i18n auth utils %}

{% block title %}{{ study }} &middot; {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'studies:detail' study.pk %}">{{ study.name }}</a></li>
{% endblock %}

{% block header %}
    <div class="container text-center my-4">
        <div>
            <h1>{{ study }}</h1>
            {% for tag in study.tags.all %}
                <span class="badge text-bg-info">{{ tag }}</span>
            {% endfor %}
            {% if study.status != study.EXECUTION %}
                <span class="badge text-bg-secondary">{{ study.get_status_badge }}</span>
            {% endif %}

            <p class="text-body-secondary mt-2">
                <span class="d-inline-block mx-2">
                    {% icon 'user' label=study|verbose_name:'contact_person' %}
                    {{ study.contact_person }}
                </span>
                <span class="d-inline-block mx-2">
                    {% icon 'envelope' label=study|verbose_name:'email' %}
                    <a href="mailto:{{ study.email }}" class="text-reset">{{ study.email }}</a>
                </span>
                <span class="d-inline-block mx-2">
                    {% icon 'phone' label=study|verbose_name:'phone' %}
                    <a href="tel:{{ study.phone }}" class="text-reset">{{ study|display:'phone' }}</a>
                </span>
                {% if 'url' in CASTELLUM_ENABLE_STUDY_METADATA and study.url %}
                    <span class="d-block mx-2">
                        {% icon 'globe' label=study|verbose_name:'url' %}
                        <a href="{{ study.url }}" target="_blank" class="text-reset">{{ study|display:'url' }}</a>
                    </span>
                {% endif %}
            </p>
        </div>
        <div class="d-print-none">
            {% has_perm 'studies.change_study' user as can_add_study %}
            {% has_perm 'studies.access_study' user study as can_access_study %}
            {% has_perm 'studies.change_study' user study as can_change_study %}
            {% has_perm 'studies.delete_study' user study as can_delete_study %}
            {% has_perm 'studies.approve_study' user as can_approve_study %}
            {% if can_approve_study %}
                {% if study.status != study.FINISHED %}
                    <form class="d-inline" method="post" action="{% url 'studies:start' study.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        {% if study.status == study.EXECUTION %}
                            <button class="btn btn-outline-primary active mb-1" title="{% translate 'Stop recruitment and execution for this study' %}">
                                {% translate 'Stop' %}
                            </button>
                        {% else %}
                            <button class="btn btn-outline-primary mb-1" title="{% translate 'Start recruitment and execution for this study' %}">
                                {% translate 'Start' %}
                            </button>
                        {% endif %}
                    </form>
                {% else %}
                    <form class="d-inline">
                        {% if study.previous_status == study.EXECUTION %}
                            <button class="btn btn-outline-primary active mb-1" title="{% translate 'Stop recruitment and execution for this study' %}" disabled>
                                {% translate 'Stop' %}
                            </button>
                        {% else %}
                            <button class="btn btn-outline-primary mb-1" title="{% translate 'Start recruitment and execution for this study' %}" disabled>
                                {% translate 'Start' %}
                            </button>
                        {% endif %}
                    </form>
                {% endif %}
            {% endif %}
            {% if can_access_study %}
                {% if can_change_study %}
                    <form class="d-inline" method="post" action="{% url 'studies:finish' study.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">

                        {% if study.status == study.FINISHED %}
                            <button class="btn btn-outline-primary active mb-1" title="{% translate 'Resume recruitment and execution for this study' %}">
                                {% translate 'Resume study' %}
                            </button>
                        {% else %}
                            <a class="btn btn-outline-primary mb-1" href="{% url 'studies:finish' study.pk %}" title="{% translate 'Conclude recruitment and execution for this study' %}">
                                {% translate 'Finish study' %}…
                            </a>
                        {% endif %}
                    </form>
                    {% if can_add_study %}
                        <a href="{% url 'studies:create' %}?duplicate_pk={{ study.pk }}" class="btn btn-outline-primary mb-1">{% translate 'Duplicate' %}</a>
                    {% endif %}
                {% endif %}
                {% if study.status == study.FINISHED and can_delete_study %}
                    <a href="{% url 'studies:delete' study.pk %}" class="btn btn-danger mb-1">{% translate 'Delete' %}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <nav class="d-print-none" aria-label="{% translate 'Tabs' %}">
        {% has_perm 'studies.access_study' user study as can_access_study %}
        {% has_perm 'studies.change_study' user study as can_change_study %}
        {% has_perm 'studies.view_audit_trail' user study as can_view_audit_trail %}

        <ul class="nav nav-tabs justify-content-center mb-3">
            <li class="nav-item">
                <a class="nav-link {% if view.tab == 'detail' %}active{% endif %}" href="{% url 'studies:detail' study.pk %}">{% translate 'Overview' %}</a>
            </li>

            {% if can_access_study and can_change_study %}
                <li class="nav-item">
                    <a class="nav-link {% if view.tab == 'update' %}active{% endif %}" href="{% url 'studies:update' study.pk %}">{% translate 'General' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view.tab == 'members' %}active{% endif %}" href="{% url 'studies:members' study.pk %}">{% translate 'Member management' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view.tab == 'consent' %}active{% endif %}" href="{% url 'studies:consent' study.pk %}">{% translate 'Consent' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view.tab == 'domains' %}active{% endif %}" href="{% url 'studies:domains' study.pk %}">
                        {% translate 'Pseudonym lists' %}
                        {% if study.should_enter_pseudonyms_delete_date or study.should_delete_domains %}
                            {% icon 'exclamation-triangle' label=_('Action required') %}
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view.tab == 'sessions' %}active{% endif %}" href="{% url 'studies:sessions' study.pk %}">
                        {% translate 'Sessions' %}
                        {% if study.should_enter_sessions_end or study.should_finish_study %}
                            {% icon 'exclamation-triangle' label=_('Action required') %}
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if view.tab == 'recruitmentsettings' %}active{% endif %}" href="{% url 'studies:recruitmentsettings' study.pk %}">{% translate 'Recruitment Settings' %}</a>
                </li>
            {% endif %}
            {% if CASTELLUM_AUDIT_TRAIL_ENABLED and can_view_audit_trail %}
                <li class="nav-item">
                    <a class="nav-link {% if view.tab == 'audit-trail' %}active{% endif %}" href="{% url 'studies:audit-trail' study.pk %}">{% translate 'Audit trail' %}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
