{% extends "studies/study_base.html" %}
{% load i18n auth utils %}

{% block content %}
    <dl class="row">
        {% if 'principal_investigator' in CASTELLUM_ENABLE_STUDY_METADATA %}
            <dt class="col-sm-6">{{ object|verbose_name:'principal_investigator' }}</dt>
            <dd class="col-sm-6">{{ object|display:'principal_investigator' }}</dd>
        {% endif %}

        {% if 'affiliated_scientists' in CASTELLUM_ENABLE_STUDY_METADATA %}
            <dt class="col-sm-6">{{ object|verbose_name:'affiliated_scientists' }}</dt>
            <dd class="col-sm-6">{{ object|display:'affiliated_scientists' }}</dd>
        {% endif %}

        {% if 'affiliated_research_assistants' in CASTELLUM_ENABLE_STUDY_METADATA %}
            <dt class="col-sm-6">{{ object|verbose_name:'affiliated_research_assistants' }}</dt>
            <dd class="col-sm-6">{{ object|display:'affiliated_research_assistants' }}</dd>
        {% endif %}

        <dt class="col-sm-6">{% translate 'Members' %}</dt>
        <dd class="col-sm-6">
            {% for member in object.members.all %}
                {{ member.get_full_name }}{% if not forloop.last %},{% endif %}
            {% empty%}
                &mdash;
            {% endfor %}
        </dd>

        <dt class="col-sm-6">{{ study|verbose_name:'created_at' }}</dt>
        <dd class="col-sm-6">{{ study|display:'created_at' }}</dd>

        <dt class="col-sm-6">{% translate 'Scheduled runtime' %}</dt>
        <dd class="col-sm-6">
            {% if object.sessions_start and object.sessions_end %}
                {{ object.sessions_start }} - {{ object.sessions_end }}
            {% elif object.sessions_start %}
                {{ object.sessions_start }} - {% translate 'not defined' %}
            {% else %}
                &mdash;
            {% endif %}
            {% if study.should_enter_sessions_end or study.should_finish_study %}
                {% icon 'exclamation-triangle' label=_('Action required') %}
            {% endif %}
        </dd>

        <dt class="col-sm-6">{{ object|verbose_name:'pseudonyms_delete_date' }}</dt>
        <dd class="col-sm-6">
           {{ object|display:'pseudonyms_delete_date' }}
            {% if study.should_enter_pseudonyms_delete_date or study.should_delete_domains %}
                {% icon 'exclamation-triangle' label=_('Action required') %}
            {% endif %}
        </dd>

        <dt class="col-sm-6">{% translate 'Participating subjects' %}</dt>
        <dd class="col-sm-6">{{ object.invited_count }}/{{ object.min_subject_count }}</dd>

        <dt class="col-sm-6">{% translate 'Sessions' %}</dt>
        <dd class="col-sm-6">{{ object.studysession_set.count }} {% if object.study_type %}({{ object|display:'study_type' }}){% endif %}</dd>
    </dl>

    {% if 'description' in CASTELLUM_ENABLE_STUDY_METADATA and study.description %}
        {{ study.description|urlize|linebreaks }}
    {% endif %}
{% endblock %}
