{% extends view.base_template|default:"subjects/base.html" %}
{% load static i18n django_bootstrap5 utils %}

{% block title %}
    {% translate "Additional Info" %} &middot; {{ block.super }}
{% endblock %}

{% block content %}
    <form method="post">
        {% include 'utils/form_errors.html' with form=form %}
        {% csrf_token %}

        {% bootstrap_field form.not_available_until %}
        {% bootstrap_field form.source %}
        {% bootstrap_field form.deceased %}

        <div class="d-print-none mb-3">
            <button class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
    </form>
{% endblock %}
