{% extends "subjects/subject_base.html" %}
{% load i18n auth subjects utils %}

{% block title %}{% translate "GDPR request" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    {% with subject.exportanswer_set.all|list as answers %}
        {% if answers %}
            <div class="alert alert-warning">
                <p><strong>{% blocktranslate with count=answers|length %}Export issued {{ count }}× so far:{% endblocktranslate %}</strong></p>
                <ul>
                    {% for answer in answers %}
                        <li>{% blocktranslate with date=answer.created_at|date name=answer.created_by %}at {{ date }} by {{ name }}{% endblocktranslate %}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <form class="alert alert-info d-flex justify-content-between align-items-center" method="post">
        {% csrf_token %}
        {% if subject.export_requested %}
            <span>{% blocktranslate with date=subject.export_requested|longdate %}Export requested on {{ date }}{% endblocktranslate %}</span>
            <button class="btn btn-primary">{% translate 'Mark as answered' %}</button>
        {% else %}
            <span>{% translate 'No export requested' %}</span>
            <button class="btn btn-primary">{% translate 'Request export' %}</button>
        {% endif %}
    </form>

    {% if has_participations or general_domains_exist %}
        <div class="card d-print-none my-4">
            <div class="card-body">
                <p>{% translate 'Remember to also gather information from the following external sources:' %}</p>
                <ul class="table-list mb-3">
                    {% for participation in object.participation_set.all %}
                        {% has_perm 'studies.view_study' user participation.study as can_view_study %}
                        <li class="table-list-item">
                            <div class="my-1 me-2">
                                <div class="h4 d-inline">{{ participation.study }}</div>
                                <span class="badge text-bg-secondary" title="{{ participation.get_status_tooltip }}">{{ participation|display:'status' }}</span>
                                <div class="my-1">
                                    {% icon 'user' label=participation.study|verbose_name:'contact_person' %}
                                    {{ participation.study.contact_person }}
                                </div>
                            </div>
                            <div class="table-list-item-actions">
                                {% if participation.status in participation.INVITED_SET %}
                                    <a class="btn btn-outline-primary my-1" href="{% url 'execution:participation-pseudonyms' participation.study.pk participation.pk %}">{% translate 'Pseudonyms' %}</a>
                                    <a class="btn btn-outline-primary my-1" href="{% export_mail_uri participation %}">{% translate 'Mail to study' %}</a>
                                {% endif %}
                                {% if can_view_study %}
                                    <a class="btn btn-outline-primary my-1" href="{% url 'studies:detail' participation.study.pk %}">{% translate 'Study details' %}</a>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                    {% if general_domains_exist %}
                        <li class="table-list-item">
                            <div class="my-1 me-2">
                                <div class="h4 d-inline">{% translate "General pseudonym lists" %}</div>
                            </div>
                            <div class="table-list-item-actions">
                                <a class="btn btn-outline-primary my-1" href="{% url 'subjects:pseudonyms' subject.pk %}">{% translate 'Pseudonyms' %}</a>
                            </div>
                        </li>
                    {% endif  %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if subject.export_requested %}
        <h2>{% translate 'Contact data' %}</h2>
        <dl class="row">
            <dt class="col-sm-6" data-fieldname="contacts.Contact.title">{{ subject.contact|verbose_name:'title' }}</dt>
            <dd class="col-sm-6">{{ subject.contact|display:'title' }}</dd>

            <dt class="col-sm-6" data-fieldname="contacts.Contact.first_name">{{ subject.contact|verbose_name:'first_name' }}</dt>
            <dd class="col-sm-6">{{ subject.contact|display:'first_name' }}</dd>

            <dt class="col-sm-6" data-fieldname="contacts.Contact.last_name">{{ subject.contact|verbose_name:'last_name' }}</dt>
            <dd class="col-sm-6">{{ subject.contact|display:'last_name' }}</dd>

            <dt class="col-sm-6" data-fieldname="contacts.Contact.date_of_birth">{{ subject.contact|verbose_name:'date_of_birth' }}</dt>
            <dd class="col-sm-6">{{ subject.contact|display:'date_of_birth' }}</dd>

            <dt class="col-sm-6" data-fieldname="contacts.Contact.address">{{ subject.contact|verbose_name:'address' }}</dt>
            <dd class="col-sm-6">{% if subject.contact.address %}{{ subject.contact|display:'address' }}{% endif %}</dd>

            <dt class="col-sm-6" data-fieldname="contacts.Contact.email">{{ subject.contact|verbose_name:'email' }}</dt>
            <dd class="col-sm-6">{{ subject.contact|display:'email' }}</dd>

            <dt class="col-sm-6" data-fieldname="contacts.Contact.phone_number">{{ subject.contact|verbose_name:'phone_number' }}</dt>
            <dd class="col-sm-6">{{ subject.contact|display:'phone_number' }}</dd>

            <dt class="col-sm-6" data-fieldname="contacts.Contact.phone_number_alternative">{{ subject.contact|verbose_name:'phone_number_alternative' }}</dt>
            <dd class="col-sm-6">{{ subject.contact|display:'phone_number_alternative' }}</dd>

            <dt class="col-sm-6" data-fieldname="contacts.Contact.created_at">{% translate 'Contact data created at' %}</dt>
            <dd class="col-sm-6">{{ subject.contact|display:'created_at' }}</dd>

            <dt class="col-sm-6" data-fieldname="contacts.Contact.updated_at">{% translate 'Contact data last updated at' %}</dt>
            <dd class="col-sm-6">{{ subject.contact|display:'updated_at' }}</dd>

            <dt class="col-sm-6" data-fieldname="contacts.Contact.legal_representatives">{{ subject.contact|verbose_name:'legal_representatives' }}</dt>
            <dd class="col-sm-6">{{ subject.contact|display:'legal_representatives' }}</dd>

            <dt class="col-sm-6" data-fieldname="contacts.Contact.legal_representative_of">{% translate 'Legal representative of' %}</dt>
            <dd class="col-sm-6">{{ subject.contact|display:'legal_representative_of' }}</dd>
        </dl>

        <h2>{% translate 'Procedural data' %}</h2>
        <dl class="row">
            <dt class="col-sm-6" data-fieldname="subjects.Subject.privacy_level">{{ subject|verbose_name:'privacy_level' }}</dt>
            <dd class="col-sm-6">{{ subject|display:'privacy_level' }}</dd>

            <dt class="col-sm-6" data-fieldname="subjects.Subject.source">{{ subject|verbose_name:'source' }}</dt>
            <dd class="col-sm-6">{{ subject|display:'source' }}</dd>

            <dt class="col-sm-6" data-fieldname="subjects.Subject.deceased">{{ subject|verbose_name:'deceased' }}</dt>
            <dd class="col-sm-6">{{ subject|display:'deceased' }}</dd>

            <dt class="col-sm-6" data-fieldname="subjects.Subject.report">{% translate 'Subject has been reported for inappropriate behavior' %}</dt>
            <dd class="col-sm-6">{{ subject.report_set.exists|display }}</dd>

            <dt class="col-sm-6" data-fieldname="subjects.Subject.blocked">{{ subject|verbose_name:'blocked' }}</dt>
            <dd class="col-sm-6">{{ subject|display:'blocked' }}</dd>

            <dt class="col-sm-6" data-fieldname="subjects.Subject.to_be_deleted">{% translate 'Deletion requested on' %}</dt>
            <dd class="col-sm-6">{{ subject|display:'to_be_deleted' }}</dd>

            <dt class="col-sm-6" data-fieldname="subjects.Subject.export_requested">{% translate 'Data export requested on' %}</dt>
            <dd class="col-sm-6">{{ subject|display:'export_requested' }}</dd>

            <dt class="col-sm-6" data-fieldname="subjects.Subject.exportanswer">{{ subject|verbose_name:'exportanswer' }}</dt>
            <dd class="col-sm-6">{{ subject|display:'exportanswer_set' }}</dd>

            <dt class="col-sm-6" data-fieldname="subjects.Subject.created_at">{% translate 'Procedural data created at' %}</dt>
            <dd class="col-sm-6">{{ subject|display:'updated_at' }}</dd>

            <dt class="col-sm-6" data-fieldname="subjects.Subject.updated_at">{% translate 'Procedural data last updated at' %}</dt>
            <dd class="col-sm-6">{{ subject|display:'updated_at' }}</dd>

            <dt class="col-sm-6" data-fieldname="subjects.Subject.study_type_disinterest">{{ subject|verbose_name:'study_type_disinterest' }}</dt>
            <dd class="col-sm-6">{{ subject|display:'study_type_disinterest' }}</dd>

            <dt class="col-sm-6" data-fieldname="subjects.Subject.not_available_until">{{ subject|verbose_name:'not_available_until' }}</dt>
            <dd class="col-sm-6">{{ subject|display:'not_available_until' }}</dd>
        </dl>

        {% if subject.consent %}
            <h2>{{ subject|verbose_name:'consent' }}</h2>
            <dl class="row">
                <dt class="col-sm-6" data-fieldname="subjects.Consent.document">{{ subject.consent|verbose_name:'document' }}</dt>
                <dd class="col-sm-6">{{ subject.consent|display:'document' }}</dd>

                <dt class="col-sm-6" data-fieldname="subjects.Consent.file">{{ subject.consent|verbose_name:'file' }}</dt>
                <dd class="col-sm-6">{{ subject.consent|display:'file' }}</dd>

                <dt class="col-sm-6" data-fieldname="subjects.Consent.updated_at">{{ subject.consent|verbose_name:'updated_at' }}</dt>
                <dd class="col-sm-6">{{ subject.consent|display:'updated_at' }}</dd>

                <dt class="col-sm-6" data-fieldname="subjects.Consent.excluded_by_us">{{ subject.consent|verbose_name:'excluded_by_us' }}</dt>
                <dd class="col-sm-6">{{ subject.consent|display:'excluded_by_us' }}</dd>

                <dt class="col-sm-6" data-fieldname="subjects.Consent.underage_when_given">{{ subject.consent|verbose_name:'underage_when_given' }}</dt>
                <dd class="col-sm-6">{{ subject.consent|display:'underage_when_given' }}</dd>

                <dt class="col-sm-6" data-fieldname="subjects.Consent.full_age_notified_1">{{ subject.consent|verbose_name:'full_age_notified_1' }}</dt>
                <dd class="col-sm-6">{{ subject.consent|display:'full_age_notified_1' }}</dd>

                <dt class="col-sm-6" data-fieldname="subjects.Consent.full_age_notified_2">{{ subject.consent|verbose_name:'full_age_notified_2' }}</dt>
                <dd class="col-sm-6">{{ subject.consent|display:'full_age_notified_2' }}</dd>
            </dl>
        {% endif %}

        {% if subject.consentrevision_set.exists %}
            <h2>{{ subject|verbose_name:'consentrevision' }}</h2>
            {% for revision in subject.consentrevision_set.all %}
                <dl class="row">
                    <dt class="col-sm-6" data-fieldname="subjects.ConsentRevision.document">{{ revision|verbose_name:'document' }}</dt>
                    <dd class="col-sm-6">{{ revision|display:'document' }}</dd>

                    <dt class="col-sm-6" data-fieldname="subjects.ConsentRevision.file">{{ revision|verbose_name:'file' }}</dt>
                    <dd class="col-sm-6">{{ revision|display:'file' }}</dd>

                    <dt class="col-sm-6" data-fieldname="subjects.ConsentRevision.created_at">{{ revision|verbose_name:'created_at' }}</dt>
                    <dd class="col-sm-6">{{ revision|display:'created_at' }}</dd>

                <dt class="col-sm-6" data-fieldname="subjects.ConsentRevision.excluded_by_us">{{ revision|verbose_name:'excluded_by_us' }}</dt>
                <dd class="col-sm-6">{{ revision|display:'excluded_by_us' }}</dd>

                    <dt class="col-sm-6" data-fieldname="subjects.ConsentRevision.underage_when_given">{{ revision|verbose_name:'underage_when_given' }}</dt>
                    <dd class="col-sm-6">{{ revision|display:'underage_when_given' }}</dd>
                </dl>
            {% endfor %}
        {% endif %}

        <h2>{{ subject|verbose_name:'attributes' }}</h2>
        <dl class="row" data-fieldname="subjects.Subject.attributes">
            {% for label, value in attributes %}
                <dt class="col-sm-6">{{ label }}</dt>
                <dd class="col-sm-6">{{ value }}</dd>
            {% endfor %}
        </dl>

        {% if subject.participation_set.exists %}
            <h2>{{ subject|verbose_name:'participation' }}</h2>
            {% for participation in subject.participation_set.all %}
                <dl class="row">
                    <dt class="col-sm-6" data-fieldname="recruitment.Participation.study">{{ participation|verbose_name:'study' }}</dt>
                    <dd class="col-sm-6">{{ participation|display:'study' }}</dd>

                    <dt class="col-sm-6" data-fieldname="recruitment.Participation.status">{{ participation|display:'status' }}</dt>
                    <dd class="col-sm-6">{{ participation|display:'status' }}</dd>

                    <dt class="col-sm-6" data-fieldname="recruitment.Participation.created_at">{% translate 'Participation created at' %}</dt>
                    <dd class="col-sm-6">{{ participation|display:'created_at' }}</dd>

                    <dt class="col-sm-6" data-fieldname="recruitment.Participation.updated_at">{% translate 'Participation last updated at' %}</dt>
                    <dd class="col-sm-6">{{ participation|display:'updated_at' }}</dd>

                    <dt class="col-sm-6" data-fieldname="recruitment.Participation.exclusion_criteria_checked">{% translate 'Exclusion criteria checked' %}</dt>
                    <dd class="col-sm-6">{{ participation|display:'exclusion_criteria_checked' }}</dd>

                    <dt class="col-sm-6" data-fieldname="recruitment.Participation.attempts">{% translate 'Contact attempts' %}</dt>
                    <dd class="col-sm-6">{{ participation|display:'attempts' }}</dd>

                    <dt class="col-sm-6" data-fieldname="recruitment.Participation.batch">{{ participation|verbose_name:'batch' }}</dt>
                    <dd class="col-sm-6">{{ participation|display:'batch' }}</dd>

                    <dt class="col-sm-6" data-fieldname="recruitment.Participation.followup_date">{{ participation|verbose_name:'followup_date' }}</dt>
                    <dd class="col-sm-6">{{ participation|display:'followup_date' }}</dd>

                    <dt class="col-sm-6" data-fieldname="recruitment.Participation.followup_time">{{ participation|verbose_name:'followup_time' }}</dt>
                    <dd class="col-sm-6">{{ participation|display:'followup_time' }}</dd>

                    <dt class="col-sm-6" data-fieldname="recruitment.Participation.news_interest">{{ participation|verbose_name:'news_interest' }}</dt>
                    <dd class="col-sm-6">{{ participation|display:'news_interest' }}</dd>

                    <dt class="col-sm-6" data-fieldname="recruitment.Participation.execution_tags">{{ participation|verbose_name:'execution_tags' }}</dt>
                    <dd class="col-sm-6">{{ participation|display:'execution_tags' }}</dd>
                </dl>
            {% endfor %}
        {% endif %}

        {% if appointments %}
            <h2>{% translate 'Appointments' %}</h2>
            {% for appointment in appointments %}
                <dl class="row">
                    <dt class="col-sm-6" data-fieldname="appointments.Appointment.session">{{ appointment|verbose_name:'session' }}</dt>
                    <dd class="col-sm-6">{{ appointment.session }}</dd>

                    <dt class="col-sm-6" data-fieldname="appointments.Appointment.start">{{ appointment|verbose_name:'start' }}</dt>
                    <dd class="col-sm-6">{{ appointment|display:'start' }}</dd>

                    <dt class="col-sm-6" data-fieldname="appointments.Appointment.first_reminder_sent">{{ appointment|verbose_name:'first_reminder_sent' }}</dt>
                    <dd class="col-sm-6">{{ appointment|display:'first_reminder_sent' }}</dd>

                    <dt class="col-sm-6" data-fieldname="appointments.Appointment.second_reminder_sent">{{ appointment|verbose_name:'second_reminder_sent' }}</dt>
                    <dd class="col-sm-6">{{ appointment|display:'second_reminder_sent' }}</dd>
                </dl>
            {% endfor %}
        {% endif %}

        {% if subject.reliabilityentry_set.exists %}
            <h2>{{ subject|verbose_name:'reliabilityentry' }}</h2>
            {% for entry in subject.reliabilityentry_set.all %}
                <dl class="row">
                    <dt class="col-sm-6" data-fieldname="recruitment.ReliabilityEntry.study">{{ entry|verbose_name:'study' }}</dt>
                    <dd class="col-sm-6">{{ entry|display:'study' }}</dd>

                    <dt class="col-sm-6" data-fieldname="recruitment.ReliabilityEntry.was_reliable">{{ entry|verbose_name:'was_reliable' }}</dt>
                    <dd class="col-sm-6">{{ entry|display:'was_reliable' }}</dd>
                </dl>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
