{% extends view.base_template|default:"subjects/subject_base.html" %}
{% load static i18n django_bootstrap5 %}

{% block title %}{% translate "Report" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <form method="post">
        {% include 'utils/form_errors.html' with form=form %}
        {% csrf_token %}

        {{ CASTELLUM_REPORT_TEXT|urlize|linebreaks }}

        {% bootstrap_field form.additional_wishes %}

        <div class="d-print-none mb-3">
            <a href="{{ view.get_success_url }}" class="btn btn-outline-primary my-1" data-js="cancel">{% translate 'Cancel' %}</a>
            <button class="btn btn-primary">{% translate 'Send report' %}</button>
        </div>
    </form>
{% endblock %}
