{% extends "subjects/subject_base.html" %}
{% load i18n auth subjects utils %}

{% block title %}{% translate "Delete subject" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        {% if is_last_legal_representative %}
            <p class="alert alert-danger">
                {% translate "This person is the only legal representative of another subject. Deletion means that the subject represented by this person becomes unreachable!" %}
            </p>
        {% endif %}

        {% if has_participations %}
            <p class="alert alert-danger">
                {% translate "This subject cannot be deleted because there still is data about them in studies." %}
            </p>
        {% elif has_pseudonym_in_general_domain %}
            <p class="alert alert-warning">
                {% translate "This subject may still have data from general pseudonym lists." %}
            </p>
        {% else %}
            <p class="alert alert-success">
                {% translate "This subject does not have any data in studies that would block deletion." %}
            </p>
        {% endif %}

        {% if has_participations or has_pseudonym_in_general_domain %}
            <div class="card my-4">
                <div class="card-body">
                    {% if has_participations %}
                        <p>{% translate "Please delete all of these study participations:" %}</p>
                    {% endif %}

                    <ul class="table-list mb-3">
                        {% for participation in object.participation_set.all %}
                            {% has_perm 'studies.view_study' user participation.study as can_view_study %}
                            <li class="table-list-item">
                                <div class="my-1 me-2">
                                    <div class="h4 d-inline">{{ participation.study }}</div>
                                    <span class="badge text-bg-secondary" title="{{ participation.get_status_tooltip }}">{{ participation|display:'status' }}</span>
                                    {% if participation.study.status == participation.study.FINISHED and not participation.study.domains.exists %}
                                        <span class="badge text-bg-secondary" title="{{ participation.TOOLTIPS.pseudonyms_deleted }}">{% translate 'Pseudonyms deleted' %}</span>
                                    {% endif %}
                                    <div class="my-1">
                                        {% icon 'user' label=participation.study|verbose_name:'contact_person' %}
                                        {{ participation.study.contact_person }}
                                    </div>
                                </div>
                                <div class="table-list-item-actions">
                                    {% if participation.status in participation.INVITED_SET %}
                                        <a class="btn btn-outline-primary my-1" href="{% url 'execution:participation-pseudonyms' participation.study.pk participation.pk %}">{% translate 'Pseudonyms' %}</a>
                                        <a class="btn btn-outline-primary my-1" href="{% delete_mail_uri participation %}">{% translate 'Mail to study' %}</a>
                                    {% endif %}
                                    {% if can_view_study %}
                                        <a class="btn btn-outline-primary my-1" href="{% url 'studies:detail' participation.study.pk %}">{% translate 'Study details' %}</a>
                                    {% endif %}
                                    <a class="btn btn-danger my-1" href="{% url 'subjects:participation-delete' subject.pk participation.pk %}">
                                        {% translate 'Delete' %}
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                        {% if has_pseudonym_in_general_domain %}
                            <li class="table-list-item">
                                <div class="my-1 me-2">
                                    <div class="h4 d-inline">{% translate "General pseudonym lists" %}</div>
                                </div>
                                <div class="table-list-item-actions">
                                    <a class="btn btn-outline-primary my-1" href="{% url 'subjects:pseudonyms' subject.pk %}">{% translate 'Pseudonyms' %}</a>
                                </div>
                            </li>
                        {% endif  %}
                    </ul>
                </div>
            </div>
        {% endif %}

        <p>{% translate "Are you sure you want to <strong>permanently delete</strong> this subject and all related data?" %}</p>
        {% if not has_participations and has_pseudonym_in_general_domain %}
            <label class="form-check mb-3">
                <input type="checkbox" class="form-check-input" data-js="confirm-delete">
                <span class="form-check-label">{% translate "I have made sure that all external data related to this subject is either covered by retention periods or has been destroyed." %}</span>
            </label>
        {% endif %}
        <div class="d-print-none mb-3">
            <a href="{% url 'subjects:detail' object.pk %}" class="btn btn-outline-primary mb-1" data-js="cancel">{% translate 'Cancel' %}</a>
            <button class="btn btn-danger mb-1" {% if has_participations or has_pseudonym_in_general_domain %}disabled{% endif %} >{% translate 'Confirm' %}</button>
        </div>
    </form>
{% endblock %}
