{% extends "subjects/base.html" %}
{% load i18n auth utils %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'subjects:detail' subject.pk %}">{{ subject.contact.short_name }}</a></li>
{% endblock %}

{% block header %}
    <div class="container text-center my-4">
        <h1>
            <svg class="identicon" data-jdenticon-value="{{ subject.pk }}" aria-hidden="true"></svg>
            {{ subject.contact.full_name }}
        </h1>
        {% if CASTELLUM_REPORT_NOTIFICATION_TO and not subject.blocked %}
            <a href="{% url 'subjects:report' subject.pk %}" class="btn btn-sm btn-light">{% icon 'flag' %} {% translate 'report' %}</a>
        {% endif %}
    </div>

    <nav class="d-print-none" aria-label="{% translate 'Tabs' %}">
        <ul class="nav nav-tabs justify-content-center mb-3">
            <li class="nav-item">
                <a href="{% url 'subjects:detail' subject.pk %}" class="nav-link {% if view.tab == 'detail' %}active{% endif %}">
                    {% translate 'Overview' %}
                    {% if not subject.has_legal_basis %}
                        {% icon 'exclamation-triangle' label=_('Action required') %}
                    {% endif %}
                </a>
            </li>

            {% has_perm 'subjects.change_subject' user as can_change_subject %}
            {% if can_change_subject %}
                <li class="nav-item">
                    <a href="{% url 'subjects:contact' subject.pk %}" class="nav-link {% if view.tab == 'contact' %}active{% endif %}">
                        {% translate 'Contact' %}
                        {% if not subject.contact.is_complete %}
                            {% icon 'exclamation-triangle' label=_('Action required') %}
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'subjects:attributes' subject.pk %}" class="nav-link {% if view.tab == 'attributes' %}active{% endif %}">
                        {% translate "Recruitment attributes" %}
                        {% if subject.has_unnecessary_recruitment_data %}
                            {% icon 'exclamation-triangle' label=_('Action required') %}
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'subjects:data-protection' subject.pk %}" class="nav-link {% if view.tab == 'data-protection' %}active{% endif %}">
                        {% translate 'Data protection' %}
                        {% if subject.consent_action_required %}
                            {% icon 'exclamation-triangle' label=_('Action required') %}
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'subjects:additional-info' subject.pk %}" class="nav-link {% if view.tab == 'additional-info' %}active{% endif %}">
                        {% translate 'Additional Info' %}
                    </a>
                </li>
            {% endif %}

            <li class="nav-item">
                <a href="{% url 'subjects:participation-list' subject.pk %}" class="nav-link {% if view.tab == 'participations' %}active{% endif %}">{% translate "Study Participations" %}</a>
            </li>

            {% has_perm 'subjects.view_audit_trail' user as can_view_audit_trail %}
            {% if CASTELLUM_AUDIT_TRAIL_ENABLED and can_view_audit_trail %}
                <li class="nav-item">
                    <a href="{% url 'subjects:audit-trail' subject.pk %}" class="nav-link {% if view.tab == 'audit-trail' %}active{% endif %}">
                        {% translate 'Audit trail' %}
                    </a>
                </li>
            {% endif %}

            {% has_perm 'subjects.export_subject' user as can_export_subject %}
            {% if can_export_subject %}
                <li class="nav-item">
                    <a href="{% url 'subjects:export' subject.pk %}" class="nav-link {% if view.tab == 'export' %}active{% endif %}">
                        {% translate 'Export' %}
                        {% if subject.export_requested %}
                            {% icon 'exclamation-triangle' label=_('Action required') %}
                        {% endif %}
                    </a>
                </li>
            {% endif %}

            {% has_perm 'subjects.delete_subject' user as can_delete_subject %}
            {% if can_delete_subject %}
                <li class="nav-item">
                    <a href="{% url 'subjects:delete' subject.pk %}" class="nav-link {% if view.tab == 'delete' %}active{% endif %}">
                        {% translate 'Delete' %}
                        {% if subject.to_be_deleted %}
                            {% icon 'exclamation-triangle' label=_('Action required') %}
                        {% endif %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
