{% extends "mfa/base.html" %}
{% load i18n %}

{% block content %}
    {% if object_list|length == 1 %}
        <div class="alert alert-warning">
            <p>{% translate "You have registered only a single key. If you lose access to that key you won't be able log into your account again." %}</p>
            <a href="{% url 'mfa:create' 'recovery' %}" class="btn btn-warning flex-shrink-0">{% translate 'Add recovery code' %}</a>
        </div>
    {% endif %}

    <div class="card mb-3 {% if not object_list %}text-bg-warning{% endif %}">
        <div class="card-body">
            <h5 class="card-title">
                {% if object_list %}
                    {% translate 'Login keys configured' %}
                {% else %}
                    {% translate 'No login keys configured' %}
                {% endif %}
            </h5>

            <p>{% translate 'Two-factor authentication adds an additional layer of security to your account by requiring more than just a password to log in.' %}</p>

            <ul class="table-list">
                {% for key in object_list %}
                    <li class="table-list-item">
                        <div>
                            <span>{{ key.name }}</span>
                            <span class="badge text-bg-secondary">{{ key.method }}</span>
                        </div>
                        <div class="table-list-item-actions">
                            <a href="{% url 'mfa:delete' key.id %}" class="btn btn-outline-danger btn-sm">{% translate 'Remove' %}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <div>
                <a href="{% url 'mfa:create' 'TOTP' %}" class="btn btn-link btn-sm">{% translate 'Add TOTP key' %}</a>
                <a href="{% url 'mfa:create' 'FIDO2' %}" class="btn btn-link btn-sm">{% translate 'Add FIDO2 key' %}</a>
                <a href="{% url 'mfa:create' 'recovery' %}" class="btn btn-link btn-sm">{% translate 'Add recovery code' %}</a>
            </div>
        </div>
    </div>
{% endblock %}
